## ...

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# Targets and Features Variables in my Model
- Variable(s) considered the target(s) for my model are: 
- Variable(s) considered the feature(s) for my model are:

# Step 1: Preprocess the data

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis = 1, inplace = True)
# application_df2

In [3]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ('T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17')

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1728        1
C5200        1
C2500        1
C1570        1
C2570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts > 1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1256        2
C3200        2
C1234        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x < 1883]
classifications_to_replace = pd.DataFrame(classifications_to_replace)
classifications_to_replace = classifications_to_replace.index.to_list()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df.nunique()

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_with_dummies = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'],drop_first=True, dtype=float)
application_df_with_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df_with_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = application_df_with_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
X_train_scaled

array([[ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       ...,
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365]])

In [15]:
X_test_scaled

array([[ 0.01394306, -0.03099144, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       ...,
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03091486, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365],
       [ 0.01394306, -0.03145581, -0.12439654, ..., -0.06493162,
        -0.07126932, -0.02858365]])

In [16]:
number_of_input_features = len(X_train.columns)
number_of_input_features

36

## Step 2: Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=36))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                370
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 491
Trainable params: 491
Non-trainable params: 0
_________________________________________________________________

In [18]:
# import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint
# define checkpoint path and filename
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    save_freq = 4000
)

fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6910
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5631 - accuracy: 0.7205
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5574 - accuracy: 0.7276
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7293
Epoch 5/50
777/804 [===========================>..] - ETA: 0s - loss: 0.5541 - accuracy: 0.7299
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7298
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7307
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7291
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7299
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7299
Epoch 10/50
745/804 [==========================>...] - ETA: 0s - loss: 0.5503 - accuracy: 0.7305
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5500 - accuracy: 0.7307
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7307
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7311
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7315
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7308
Epoch 15/50
719/804 [=========================>....] - ETA: 0s - loss: 0.5488 - accuracy: 0.7313
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7307
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7308
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7314
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7316
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7306
Epoch 20/50
721/804 [=========================>....] - ETA: 0s - loss: 0.5482 - accuracy: 0.7306
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.5480 - accuracy: 0.7310
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7313
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7308
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7330
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7320
Epoch 25/50
680/804 [========================>.....] - ETA: 0s - loss: 0.5471 - accuracy: 0.7331
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7321
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7319
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7317
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7315
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7319
Epoch 30/50
667/804 [=======================>......] - ETA: 0s - loss: 0.5465 - accuracy: 0.7327
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7331
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7331
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7311
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7330
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 35/50
653/804 [=======================>......] - ETA: 0s - loss: 0.5447 - accuracy: 0.7340
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7326
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7323
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7324
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7329
Epoch 40/50
618/804 [======================>.......] - ETA: 0s - loss: 0.5471 - accuracy: 0.7315
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7324
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7334
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7325
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7325
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7322
Epoch 45/50
599/804 [=====================>........] - ETA: 0s - loss: 0.5410 - accuracy: 0.7367
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7330
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7330
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7338
Epoch 50/50
588/804 [====================>.........] - ETA: 0s - loss: 0.5425 - accuracy: 0.7354
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7328

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5546 - accuracy: 0.7308
Loss: 0.5546250343322754, Accuracy: 0.7308454513549805

In [21]:
# Export our model to HDF5 file
nn.save('Alphabet_Soup_Charity.h5')

# Step 3: Optimize the Model

# Step 4: Write a Report on the Neural Network Model